[Unit]
Description=SubotSG (SubotPrivate) Discord Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=katie
Group=katie
WorkingDirectory=/opt/SubotPrivate
Nice=-5
ExecStart=/opt/SubotPrivate/venv/bin/python /opt/SubotPrivate/run.py
Restart=always
RestartSec=10
EnvironmentFile=-/opt/SubotPrivate/.env

[Install]
WantedBy=multi-user.target
