[Unit]
Description=SubotLive Discord Music Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=
Group=
WorkingDirectory=/opt/SubotLive
Nice=-5
ExecStart=/opt/SubotLive/venv/bin/python /opt/SubotLive/run.py
Restart=always
RestartSec=10
EnvironmentFile=-/opt/SubotLive/.env

[Install]
WantedBy=multi-user.target
